.foterContainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(39, 64, 89, 1);
}
.linksLocation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 48px;
  margin: 0 101px;
  border-bottom: 1px solid rgba(70, 84, 97, 1);
}
.foterContainer h3,
.linksLocation a {
  color: rgba(228, 242, 255, 1);
  font-size: 22px;
  font-weight: 400px;
}
.foterContainer h3{padding: 56px 101px;
}
.sotialLincsContainer{
    display: flex;
    justify-content: space-between;
    padding: 55px 101px;
}
.sotialLincsContainer div{
    display: flex;
    
    gap: 36px;
}